<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.eidos.reader">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".EidosApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eidos">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                &lt;!&ndash; url fields don't work since chrome is just sending the url as plaintext &ndash;&gt;-->
<!--                <data android:mimeType="text/plain" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>